/* Doodle Stage */
#stage {
  background: #fff;
  height: 300px;
  width: 600px;
  padding: 10px;
}

/* google animations */
#plates .plate1 {
  fill: orange;
  background: blue;
}

#plates .cls-1 {
  fill: darkseagreen;
}

#pancakes .pan1 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  fill: peru;
  stroke: palegoldenrod;
  stroke-width: 4px;
}

#pancakes .pan2 {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  fill: peru;
  stroke: palegoldenrod;
  stroke-width: 4px;
}

#pancakes .pan3 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  fill: peru;
  stroke: palegoldenrod;
  stroke-width: 4px;
}

#pancakes .pan4 {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
  fill: peru;
  stroke: palegoldenrod;
  stroke-width: 4px;
}

#smallfork .smallf {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  fill: silver;
  stroke: black;
}

#bigfork .cls-3 {
  fill: silver;
}

#banana .cls-3 {
  fill: gold;
}

#syrup .glass {
  fill: saddlebrown;
  animated: bounceInLeft;
}

#syrup .lid {
  fill: silver;
}

#syrup .handle {
  fill: orangered;
}

#syrup .spout {
  fill: dimgrey;
}

/*animations*/
.pan1 {
  -webkit-animation: falling 2.5s;
          animation: falling 2.5s;
}

.pan2 {
  -webkit-animation: falling 2.5s;
          animation: falling 2.5s;
}

.pan3 {
  -webkit-animation: falling 2.5s;
          animation: falling 2.5s;
}

.pan4 {
  -webkit-animation: falling 2.5s;
          animation: falling 2.5s;
}

#banana .cls-3 {
  /*       animation:
        falling
        2.5s 
        ; */
}

@-webkit-keyframes falling {
  0% {
    -webkit-transform: scale(20);
            transform: scale(20);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes falling {
  0% {
    -webkit-transform: scale(20);
            transform: scale(20);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
